-var navLink={Home:'/home', About:'/about', Services:'/services'};

-var mountainList=[{title:'Mount Everest',eval:'8,848'}, {title:'Kangchenjunga',eval:'8,586'}, {title:'Mount Kailash',eval:'6,638'}, {title:'Makalu',eval:'8,481'}, {title:'Nanda Devi',eval:'7,816'}, {title:'Trisul',eval:'7,120'}]

-var tecksList=[{title:'Annapurna Panorama Trek',time:'9'},{title:'Kailash Mansarobar Trek ',time:'19'},{title:'Kailash, Mansarovar & Guge Kingdom Trek ',time:'20'},{title:'Khangsung Valley Trek',time:'22'},{title:'Everest Advanced Base Camp North Side',time:'22'}]
