//output:../index.html
extend base.jade
block page-name
  -var pName='Home'
block title
  title Himalaya :: The land of snow 
block header
  .main-header.text-center.flex-element.center-both#particles-js
    .cloud
    .header-inner
      h2 
        img(src="img/logo.png", alt="alt")
      span.sub-lead Abode of Snow
      .high-line
      span.eval 29,029 ft 
        small 
          i Above Sea level
block main 
  .quote-section
    .container
      .mountain-quote 
        blockquote
          p Creative people who can't help but explore other mental territories are at greater risk, just as someone who climbs a mountain is more at risk than someone who just walks along a village lane.
          i R. D. Laing
  section.feature-box
    .container
      .row.text-center
        +feadture-box('f1','Trekking/Mountaineering')
        +feadture-box('f2','Family/Group Tour')
        +feadture-box('f3','Mountain Biking/Rafting')
  section.mountain-list.white
    .container
      .row
        each mountain,i in mountainList
          +mountain-list(mountain,i)
  section.accordion-section
    .container
      .row
        .col.col--6-of-12
          #accordion-id.accordion-group
              .panel.panel-default
                .panel-heading
                    a.accordion-toggle.active(href="#" data-parent="#collapse1"  title="img/ac1")
                      | River & Lakes
                #collapse1.panel-collapse
                  .panel-body
                    p Glaciers and permanent snow fields cover the higher regions of the Himalayas. They are the source of streams that flow into the two big rivers of the region.The Indus flows to the west and through Pakistan into the Arabia Sea. The Ganges and Brahmaputra flow to the east and get together in Bangladesh. They form  the largest delta in the world.
                    
              .panel.panel-default
                .panel-heading
                    a.accordion-toggle(href="#" data-parent="#collapse2" title="img/ac2")
                      | Climate
                #collapse2.panel-collapse
                  .panel-body
                    p Almost every type of climate can be found in the different altitudes of the mountain range. The lower slopes in the south are home to tropical plants and tea. 
                    p The Himalayas influence the climate in both India and Tibet. They form a barrier for monsoon winds that blow from the Indian Ocean over India.

                      
              .panel.panel-default
                .panel-heading
                    a.accordion-toggle(href="#" data-parent="#collapse3" title="img/ac3")
                      | People
                #collapse3.panel-collapse
                  .panel-body
                    p The Himalayas are very sparsely populated because of the harsh climate.  Most people live on the lower Indian slopes. Many people earn their living as sherpas, guiding tourists and mountaineers to the peaks of the mountain range.
                    p Most of the passes that cross the Himalayas are over 5,000 high. They are covered with snow during the winter period and almost impossible to pass.

                        
              .panel.panel-default
                .panel-heading
                    a.accordion-toggle(href="#" data-parent="#collapse4" title="img/ac4")
                      | Tourism
                #collapse4.panel-collapse
                  .panel-body
                    p Mountain climbing has become the main tourist activity in the Himalaya Mountains. It started towards the end of the 19th century when many mountaineers started climbing the peaks. In 1953 Edmund Hillary and Sherpa Tenzing Norgay were the first to reach Mount Everest, the world’s highest mountain.
            
        .col.col--6-of-12
          .ac-img
            img(src="img/ac1.jpg", alt="alt")  
  section.testimonials.white
    .container
      .row
        .col.col--6-of-12.col--centered
          .testimnial-block.text-center
            img.round-box.avtar.mar-b-20(src="img/avatar.png", alt="")
            .text  Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
            .user-detail.mar-t-10 
              strong John Muir
              i Web Design
  
  section.treks
    .container
      .row
        +track
  
  section.white.fact
    .container
        .tab-panel
          ul.nav-tabs.flex-element
            li
              a.tab-toggle.active(href="#" data-parent="#tab1") still Growing!
            li
              a.tab-toggle(href="#" data-parent="#tab2") Fossilized Sea Creatures
            li
              a.tab-toggle(href="#" data-parent="#tab3") A God
            li
              a.tab-toggle(href="#" data-parent="#tab4") Exotic Animals
          .tab-content
            #tab1.tab-pane.open
              .row.row--no-gutter
                .col.col--7-of-12.fact-text
                  p  The Himalayas are considered to be the tallest and youngest mountain ranges (only 70 million years young), which were caused by a continental collision between the Indian and Eurasian tectonic plates, resulting in the development of the Himalayan mountain ranges.
                  p Various geological tests conducted by scientists have confirmed that this great mountain range still moves approximately 20mm every year.
                  p Because of this restless or continuous movement of the plates, the whole Himalayan region is prone to various natural disasters like earthquakes, tremors, and landslides.
                .col.col--5-of-12
                  .fact-f1
                  
            #tab2.tab-pane
              .row.row--no-gutter
                .col.col--7-of-12.fact-text
                  p  Although the Himalayan Mountains formed 60 million years ago, Everest’s history actually goes back a lot further.
                  p The limestone and sandstone rock at the summit of the mountain was once part of sedimentary layers below sea level 450 million years ago.
                  p Explorer Noel Odell first discovered the fossils embedded within Everest’s rocks in 1924, proving that the mountain had once been below sea level.
                  p The first rock specimens from Everest were brought back by Swiss climbers in 1956 and by an American climbing team in 1963.
                .col.col--5-of-12
                  .fact-f2
            #tab3.tab-pane 
              .row.row--no-gutter
                .col.col--7-of-12.fact-text
                  p  In Hindu religion, the Himalaya is known as the Giri-raj, which means the “King of the Mountains”.
                  p The Hindu people consider the Himalayas as a sacrosanct place and believe it to be the dwelling place of Gods.
                  p It has got mention in the epic Ramayana, Mahabharat, Rig Veda, Skanda Purana and many other Puranas.
                  p Many saints regard the Himalayas as the land of holy practices where perform the penance and worship the Lord.  
                .col.col--5-of-12
                  .fact-f3 
            #tab4.tab-pane 
              .row.row--no-gutter
                .col.col--7-of-12.fact-text
                  p  The Himalayas serve as a natural habitat to some exotic species of animals like the snow leopard, wild goat, Tibetan sheep, musk deer and mountain goats.
                  p To watch the majestic snow leopards, you have to climb the higher altitudes of the mountain.
                  p Besides the animals, there are even many diverse and beautiful species of birds 
                .col.col--5-of-12
                  .fact-f4                 
block append script
  script(src="js/particles.js")
  script(src="js/app.js")
  script(src="js/script.js")
